.board {
    width: 95vmin;
    height: 95vmin;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.B {
    background: blue;
}

.V {
    background: grey;
}

.W {
    background: green;
}

.W.Q {
    background: cyan;
}

.B.Q {
    background: darkorchid;
}
button {
    border: none;
    outline: outset;
    width: 10%;
    height: 10%;
}